// Шрифты
$font-primary: 'Montserrat', sans-serif;

// Colors
$color-black: #101010;
$color-white: #ffffff;
$color-primary: #174B7C;
$color-primary-light: #deeaff;
$color-grey: #F7F8F8;
$color-error: rgb(247, 84, 84);

// Other
$transition: 0.3s;

